.loginSignupContainer {
  background: linear-gradient(
    180deg,
    rgba(52, 78, 65, 1) 0%,
    rgba(62, 92, 77, 1) 100%
  );
  color: #fff;
  height: 75vh;
  display: flex;
  flex-direction: column;

}

.loginSignupContent {
  margin-top: 7rem;
  font-family: Blinker, sans-serif;
font-weight: 400;
}

