.navbarLogo {
margin: 0 0 0 1rem
}

.navbarContainer {
background-color: #344e41 ;
color: white;
font-family: Blinker, sans-serif;
font-weight: 400;
}

.NavbarItem {
  color: white;
}

.logoutButton {
  margin-right: 1rem;
}