.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: 61.5vh;
  background: linear-gradient(
    180deg,
    rgba(52, 78, 65, 1) 0%,
    rgba(62, 92, 77, 1) 100%
  );
  color: #fff;
}

.header-image {
  width: 70px;
  object-fit: cover;
  flex-grow: 1;
  border-radius: 4px;
  margin-right: 0rem;
}

.header-section h1 {
  line-height: 100%;
  letter-spacing: -0.5px;
  font-family: Blinker, sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
  font-family: Blinker, sans-serif;
  font-weight: 100;
  width: 30%;
}

.logo {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.homepageTitle {
margin-bottom: 0.001rem;
}

.homepageParagraph {
  margin-bottom: 1.7rem;
}